body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    
}
.brown-color{
    color: brown;

}
section{
    padding-bottom: 40px;
}
.flexible-container{
    display: flex;
    margin-bottom: 5%;
    width: 100%;
}
.healty-food{
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    padding: 50px 0px;
    
}


.text-center{
    text-align: center;
}
.featured-recipes{
    margin-bottom: 50px;
}
.row{
    width: 85%;
    display: flex;
    justify-content: space-between;
    padding: 100px;
}
.col-4{
  width: 30%;
  box-shadow: 5px 5px 10px gray;
  border-radius: 10px;
  padding: 10px;

  
}
.col-4 img{
    width: 100%;
    border-radius: 15px;
    
}
  
.half-width{
    width: 50%;
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 40px;
    
}
.half-width img{
    width: 100%;
}
.order-food{
    text-decoration: none;
    background-image: linear-gradient(orange,brown);
    color: white;
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 50px;
}

.paragraph-width{
    width: 50%;
    margin-bottom:50px ;
    

}
.about-me{
    text-decoration: none;
    background-image: linear-gradient(orange,brown);
    color: white;
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 50px;
    
}
.social-text{
    
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
    margin-left: 80px;
    margin-right: 80px;
    
}
.social{
    width: 30%;
    padding-left: 40px;
    padding-right: 40px;
} 
.social p{
    text-align: center;
}
footer{
    height: 150px;
    background-color:#333;
    color: white;
    text-align: center;
    padding: 10px;
}
